<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<header th:replace="~{fragments :: header}"></header>
<body>
<h2 class ="headTitle">
    Add An Artist
</h2>

<h3>Welcome.  Add an artist or band to the list to create events.</h3>


<form action='/artists/add' method='POST'>
   <div>
    <label th:for="artistName">Artist Name</label>
    <input th:field="${artist.artistName}" />
    <p class="error" th:errors="${artist.artistName}"></p>
   </div>
    <div>
        <label th:for="genre">Genre</label>
        <input th:field="${artist.genre}" />
        <p class="error" th:errors="${artist.genre}"></p>
    </div>
    <button type="submit">Create an Artist</button>
</form>
</body>
</html>