<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<header th:replace="~{fragments :: header}"></header>

<body>
<h2 class="headTitle">
    Artists
</h2>
<p th:unless="${artists} and ${artists.size()}">
    <em>No contents to display.</em>
</p>
<table id="venuTable">
    <thead>
    <tr>
        <th>Artist Id</th>
        <th>Artist Name</th>
        <th>Artist Genre</th>
    </tr>
    </thead>
    <tr th:each="artist : ${artists}">
        <td th:text="${artist.id}"></td>
        <td th:text="${artist.artistName}"></td>
        <td th:text="${artist.genre}"></td>

    </tr>
</table>


</body>
</html>