

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    color: white;
    height: 100px;
}

.navbar{
background-color:black;
}

.nav{
margin:10px;
padding:10px;
background-color:darkolivegreen;
}
a {
color: white;
}

button {
    color: white;
    background-color: #612847;
    margin-top: 20px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 4px;
}
body{
background-image: url('/images/mic on stage.png');
}
.adminHome{
background-image:none;
}

button.delete {
    background-color: #B03A2E;
}

.error {
    color: #B03A2E;
    font-size: 0.9rem;
    margin: 0;
}

.all-errors {
    font-weight: bold;
    margin-bottom: 12px;
}

.bold {
    font-weight: bold;
}

textarea {
    min-height: 200px;
}

.headTitle
{
    color: white;
    background-color: #0f89c5;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 6px;
    width: auto;
    border-radius: 2px;
    padding: 25px;
    margin-bottom: 20px;
}

.header img {
  float: left;

  width: 100px;
  height: 100px;
}

#venuTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: 20px;
}

#venuTable td, #venuTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#venuTable tr:nth-child(even){background-color: #f2f2f2;}

#venuTable tr:hover {background-color: #ddd;}

#venuTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1b3d30;
  color: white;
}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7daed1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.centered{
text-align:center;
}



