.App {
  text-align: center;
  
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white; */

  .topmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000005a;
    font-size: calc(1.7vmin);
  }
  
  .topmenu li {
    float: left;
  }
  
  .topmenu li a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.571);
    text-align: left;
    padding: 8px;
    text-decoration: none;
  }
  
  .topmenu li a:hover {
    background-color: #222;
  }
  
  .topmenu li a.active {
    color: white;
    background-color: #5810008b;
  }

}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .title{
  text-align: center;
  padding-top: 25px;
} */

body {
  background-image: url('./public/images/concertbg.png');
}