.App {
  text-align: center;
  
}

.App-header {
  /*basic nav bar at top of screen*/
  .topmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000005a;
    font-size: calc(1.7vmin);
  }
  
  .topmenu li {
    float: left;
  }
  
  .topmenu li a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.571);
    text-align: left;
    padding: 8px;
    text-decoration: none;
  }
  
  .topmenu li a:hover {
    background-color: #222;
  }
  
  .topmenu li a.active {
    color: white;
    background-color: #5810008b;
  }

}

.App-link {
  color: #61dafb;
}

body {
  background-image: url('./public/images/concertbg.png');
  /*shadow box behind map screen position and color/transparency*/
  div.overlay {
    position: fixed;  
    top: 25%; 
    left: 25%;
    width: 100dvh;
    height: 60dvh;
    background-color:#00000088;
    box-shadow: #222;
  }
  /* { div.overlay div 
    map box styling etc here } */
  
}