.About {
    /* Home page background, will change later. blank white was just burning my eyes */
    min-height: 100dvh;
    min-width: 100dvw;

    background-image: url('../../public/images/concertbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: relative;
    /* alt: background-size: 100dvw 100dvh; */
}