/* SpotifyLogin.js */
.spotify-login-background {
    width: 100vw;
    height: 100vh;
    background-image: url('../../public/images/singer_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.spotify-login-container {
    margin-top: 50px;
    text-align: center;
}

.login-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-button {
    background-color: #191414;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #454545;
}




/* Spotify.js */

.profile-image {
    clip-path: circle();
    height: 85px;
    width: 85px;
    object-fit: cover;
}

.spotify-user-background {
    background-image: url('../../public/images/singer_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.spotify-user-container {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  border-radius: 15px;
  position: relative;

  margin: auto;
  margin-left: 15vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  overflow: hidden;

  margin-top: 35px;
  text-align: center;
  align-items: center;
  max-width: 80vw;
}

.welcome-message {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.user-tracks-columns {
    display: flex;
    justify-content: space-between;
}

.user-tracks-left-column,
.user-tracks-right-column {
    display: flex;
    flex-direction: column;
}

.track-item {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.album-image {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 30px;
}

.user-track-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.user-track-info h4 {
    margin: 0;
    font-size: 19px;
}

.user-track-info p {
    margin: 0;
    margin-top: 2px;
    font-size: 18px;
}

.spotify-logout-container {
    margin-top: 50px;
    text-align: center;
}


.logout-button {
    background-color: #191414;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #454545;
}
