/* css is getting inherited somehow*/
.spotify-background {

}

.login-title {

}

.login-button {

}

#title-box {
    display: flex;
    justify-center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-top-tracks {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.profile-image {
    display: flex;
    justify-content: center;
}

.profile-name {
    display: flex;
    justify-content: center;
}

/* Spotify.js */
.spotify-page {
    background-color: rgba(255, 255, 255, 0.8);
}