.artist-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.artist-card a {
  text-decoration: none;
  color: #333;
}

.artist-card strong {
  font-size: 20px;
  color: #333;
}

.artist-card div {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.artist-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.artist-name {
  color: #9c27b0;
  text-decoration: underline;
  cursor: pointer;
}

.artist-name:hover {
  color: #45a049;
  text-decoration: underline;
}

.clickable-icon {
  margin-left: 5px;
  color: #45a049;
}

@keyframes spotifyIconAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.artist-card .spotify-icon {
  color: #1DB954;
  display: inline-block;
  margin-left: 5px;
  font-size: 1.2em;
  animation: spotifyIconAnimation 1s infinite;
}