.Home {
    /* home screen background */
    min-height: 100dvh;
    min-width: 100dvw;

    background-image: url('../../public/images/concertbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: relative;
    /* alt: background-size: 100dvw 100dvh; */
}

/* map box position/size on home screen */
.VENU-map {
    position: absolute;  
    top: 25%; 
    left: 25%;
    width: 100dvh;
    height: 60dvh;
}

/* map position/size in its individual box */
.map-container {
    width: 100%;
    height: 100%;
}

/* upcoming events box position and styling */
.upcoming-events-container {
    background: linear-gradient(to bottom, #FFA500, #FFFF00);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 40dvh;
    height: 100%dvh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}