<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form action='/venues/delete' method='POST'>
    <h3>Delete and artist from the list.</h3>
    <th:block th:each="venue : ${venueList}">
        <label>
            <input type = "checkbox" name="venueIds" th:value="${venue.id}" />
            <span th:text="${venue}"></span>
        </label><br />
    </th:block>
    <button type="submit">Delete</button>
</form>
</body>
</html>