<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h2>
    Venues
</h2>
<p th:unless="${venues} and ${venues.size()}">
    <em>No contents to display.</em>
</p>
<table>
    <thead>
    <tr>
        <th>Venue Id</th>
        <th>Venue Name</th>
        <th>Venue Address</th>
        <th>Venue City</th>
        <th>Venue State</th>
        <th>Venue Zip Code</th>
        <th>Wheelchair Accessible</th>
        <th>ADA Bathrooms</th>
        <th>ADA Seating</th>
        <th>Bus Stop Close</th>
        <th>Sign Language</th>
        <th>Clear Pathways</th>
        <th>Descriptive Audio</th>
        <th>Multi Level</th>
        <th>Elevators</th>

    </tr>
    </thead>
    <tr th:each="venue : ${venues}">
        <td th:text="${venue.id}"></td>
        <td th:text="${venue.venueName}"></td>
        <td th:text="${venue.venueAddress}"></td>

        <td th:text="${venue.venueCity}"></td>
        <td th:text="${venue.venueState}"></td>
        <td th:text="${venue.venueZip}"></td>
        <td th:text="${venue.wheelchairAccessible}"></td>
        <td th:text="${venue.ADABathrooms}"></td>
        <td th:text="${venue.ADASeating}"></td>
        <td th:text="${venue.busStopClose}"></td>
        <td th:text="${venue.signLanguage}"></td>
        <td th:text="${venue.clearPathways}"></td>
        <td th:text="${venue.descriptiveAudio}"></td>
        <td th:text="${venue.elevators}"></td>
        <td th:text="${venue.multiLevel}"></td>

    </tr>
</table>
<button><a href = "artists">Show List of Artists!</a></button>

</body>
</html>