<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Create Event</title>
</head>
<body>

<h2>Create Event</h2>
<form action="/events/add" method="POST">
    <div>
        <label th:for="eventName">Event Name</label>
        <input th:field="${event.eventName}" />
    </div>
    <div>
        <label th:for="price">Price</label>
        <input th:field="${event.price}" />
    </div>
    <div>
        <label th:for="date">Date</label>
        <input input type="date" th:field="${event.date}" />
    </div>

    <button type="submit">Create Event</button>
</form>
</body>
</html>