.page-background {
  min-height: 100dvh;
  min-width: 100dvw;
  background-image: url('../../public/images/concertbg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.event-details-container {
  margin-top: 20px;
  text-align: center;
}

.event-details-container h2 {
  color: green;
  font-size: 2em;
  margin-bottom: 10px;
}

.event-details-container p {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

.event-details-container ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.event-details-container li {
  font-size: 16px;
  margin-top: 5px;
}

.search-tracks-button {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.login-link {
    font-size: x-small;
}

.flex-container {
    background-color: #ffff;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}